<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="cfg_ScreenshotCount" value="3" />
    <add key="cfg_ActivityLevelTracking" value="true" />
    <add key="cfg_AppTracking" value="true" />
    <add key="cfg_AutoPause" value="true" />
    <add key="cfg_AllowOfflineTime" value="true" />
    <add key="cfg_Administrator" value="false" />
    <!--<add key="cfg_ScreenshotNotify" value="true" />
    <add key="cfg_PlaySound" value="true"/>
    <add key="cfg_AutoRun" value="true"/>-->
    <add key="cfg_AutoRunKey" value="Monitaskapp" />
    <add key="cfg_UserName" value="User" />
    <add key="cfg_UserEmail" value="example@test.com" />
    <add key="AppPath" value="https://www.monitask.com/" />
    <!--<add key="AppPath" value="http://localhost:1368/" />-->
    <add key="AppRepository" value="https://raw.githubusercontent.com/raskarov/deskcap-release-develop/master/" />
    <add key="ScreenshotsContainerName" value="production" />
    <add key="NamePrefix" value="" />
    <add key="AzurePath" value="https://deskcap.blob.core.windows.net" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>